.container {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 0.2fr 2.5fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "navbar navbar navbar"
      ". main ."
      "footer footer footer";
  }
  .navbar { grid-area: navbar; }
  .main { grid-area: main; }
  .footer { grid-area: footer; }
