.footer{
    position: fixed;
    bottom: 0px;
    height: 5vh;
    width: 100vw;
    background-color: #EF4444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    opacity: .5;
    font-size: 32px;
}

.image:hover{
    opacity: 1;
}

.devicon-github-original{
    color: white;
}

.devicon-linkedin-plain{
    color: white;
}
