.navbar{
    height: 5.5vh;
    display: flex;
    position: relative;
    width: 100vw;
    flex-direction: column;
    align-items: flex-end;
    background-color: #EF4444;
  }
  .navbar__item, .button__logout{
      font-weight: bold;
      font-size: 18px;
      padding: 5px;
      height: calc(5.5vh - 10px);
  }
  .navbar__item-container{
    display: flex;
    margin-right: 1rem;
    list-style: none;
    height: 100%;
  }

  .navbar__item a{
    text-decoration: none;
    color: white;
  }


  .navbar__item:hover{
    text-decoration: none;
    background-color: white;
  }

  .navbar__item:hover > *{
    color: #EF4444;
  }
  .button__logout{
      color: white;
  }

  .navbar > .navbar__item-container > .navbar__item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
