.business__container{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.business-button__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.business-form__button{
    display: block;
    width: 50%;
    border: 1px solid #ef4444;
    background-color: #ef4444;
    color: white;
    border-radius: 4px;
    font-size: 16.5px;
    margin: 10px 0;
    font-weight: bold;
}

.edit-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.edit-button__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.edit-form__button{
    display: block;
    width: 100px;
    border: 1px solid #ef4444;
    background-color: #ef4444;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    margin-right: 10px;
    font-weight: bold;
}


.review-content__container{
    display: inline-block;
    padding: 2px 16px;
}
.review-content__field{
    padding: 2px;
}
.business__reviews-header{
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #1f2937;
}
.review-edit{
    display: flex;
    flex-direction: column;
}
.business-container__business{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-content__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-input__container{
    display: flex;
    flex-direction: column;

}

.edit-button__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 75%;
}

.edit-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.review-content{
    display: flex;
    flex-direction: row;

}

.review-content__container{
    display: flex;
    align-items: flex-start;
}

.review-content__username{
    font-weight: bold;
    font-size: 22px;
}

.review-content__rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.business__header{
    font-size: 31px;
    font-weight: bold;
    color: #1f2937
}

.business__category{
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    color: #1f2937;
}

/* .business__reviews-header{
    border-bottom: 1px solid #1f2937;
} */

.review__container{
    border: 1px solid #1f2937;
    border-radius: 4px;
    box-shadow: 4px 4px 10px darkgray;
    margin: 10px 0;
}

.no-form{
    padding-bottom: 30px;
}
