.user-list__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5vh;
    font-weight: bold;
    color: #1f2937;
    font-size: 31px;
}

.user-list__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vh;
    font-weight: bold;
    color: #1f2937;
    font-size: 22px;
}

.user-list__user{
    padding: 0;
    margin-bottom: 1px;
}

.user-list__user:hover{
    font-size: 30px;
    color: #ef4444;

}

.user-list__container{
    overflow-y: auto;
    height: calc(80vh - 1.5em - 10px);
    width: 50%;
    margin: auto;
}
